<template name="days">
    <!-- TODO: combine these both into a single if statement, if possible. -->
    {{# if afFieldValueIs name="registrationType" value="commuter"}}
    {{> afFormGroup name="days" }}
    <p class="help-block">If you have a more complex schedule, send an email to the registrars.</p>
    {{/ if }}

    {{# if afFieldValueIs name="registrationType" value="daily" }}
    {{> afFormGroup name="days" options=dailyOvernightOptions label="Nights" }}
    <p class="help-block">Select the nights you will be staying at PYM.</p>
    <p class="help-block">If you have a more complex schedule, send an email to the registrars.</p>
    {{/ if }}
</template>
