#content {
    padding-top: 3em; /* prevent navbar overlap */
}
html {
    font-size: 1em;
}
.help-block {
    color: #333;
}
.panel {
    margin: 1em;
}
.panel-heading {
    margin-top: 0px !important;
}
@media (min-width: 33em) {
    #registration-form {
        width: 62%;
        margin: auto;
    }
}
