<template name="_footer">
    <footer>
        <div class="container">
            <div class="col-md-3 panel panel-default">
                <div class="panel-header">
                    <h2>Move Commons</h2>
                </div>
                <div id="move-commons-badge panel-body"><div xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:mc="http://movecommons.org/ns#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" about="http://register.pacificyearlymeeting.org" typeof="mc:Collective"></div>
                    <div property="foaf:name" content="PYM Online Registration"></div>
                    <div rel="foaf:homepage" href="http://register.pacificyearlymeeting.org"></div><div rel="mc:moveCommonsType" resource="[mc:NonProfit]"></div>
                    <div rel="mc:moveCommonsType" resource="[mc:Reproducible]"></div>
                    <div rel="mc:moveCommonsType" resource="[mc:ReinforcesCommons]"></div>
                    <div rel="mc:moveCommonsType" resource="[mc:GrassRoots]"></div>
                    <div rel="mc:focusesIn" resource="[mc:Town]"></div>
                    <div about="#Quaker" typeof="skos:Concept">
                    </div>
                    <div about="#open-source" typeof="skos:Concept"></div>
                    <div about="#free software" typeof="skos:Concept"></div>
                    <a href="http://movecommons.org/en/np-rp-rc.to-gr/0.1/"><img src="http://movecommons.org/mc/0.1/images/np-rp-rc.to-gr-88x31-0.1.png" alt="Move Commons Non-Profit, Reproducible, Reinforcing the Town/community/society Commons, Grassroots" /></a>
                    <p>Non-Profit, Reproducible, Reinforcing the Town/community/society Commons, Grassroots</p></div>
            </div>
        </div>
    </footer>
</template>
