<template name="registrantDetails">
    <fieldset>
        <legend>Registrant Details</legend>

        <!-- Basic personal information -->
        <!-- first name -->
        {{> afFormGroup name="first_name" id="first-name" }}

        <!-- last name -->
        {{> afFormGroup name="last_name" id="last-name" }}

        <!-- special needs -->
        {{> afFormGroup name="specialNeeds" id="special-needs"}}
        <p class="help-block">
            Tell us anything special we need to know: mobility issues, loud snorer, travel needs, desire to be near YAF community space, etc.
        </p>

        <!-- registrant email -->
        {{> afFormGroup name="registrantEmail" id="registrant-email" }}

        <!-- Age -->
        {{> afFormGroup name="age" id="age"}}

        <!-- grade in school -->
        {{> afFormGroup name="gradeInSchool" id="grade-in-school"}}
        <p class="help-block">If applicable, enter grade number, 'home schooled', 'kindergarten', etc.</p>

        <!-- first time attender -->
        {{> afFormGroup name="firstTimeAttender" id="first-time-attender"}}

        <!-- meeting -->
        {{> afFormGroup name="registrantAffiliation" id="registrant-affiliation" }}
        <p class="help-block">
            Enter a meeting, worship group, or other Quaker organization with which you are affiliated.
            This will appear on your name badge.
        </p>

        <!-- Registration type -->
        {{> afFormGroup name="registrationType" id="registration_type" options=registrationTypeOptions}}

    </fieldset>
</template>
