<template name="registrantDetails">
    <fieldset>
        <legend>Registrant Details</legend>

        <!-- Basic personal information -->
        <!-- first name -->
        {{> afFormGroup name="first_name" id="first-name" }}

        <!-- last name -->
        {{> afFormGroup name="last_name" id="last-name" }}

        <!-- registrant email -->
        {{> afFormGroup name="registrantEmail" id="registrant-email" }}

        <!-- meeting -->
        {{> afFormGroup name="registrantMeeting" id="registrant-meeting" }}

        <!-- Age -->
        {{> afFormGroup name="age" id="age"}}

        <!-- first time attender -->
        {{> afFormGroup name="firstTimeAttender" id="first-time-attender"}}

        <!-- Registration type -->
        {{> afFormGroup name="registrationType" id="registration_type" options=registrationTypeOptions}}

    </fieldset>
</template>
