<template name="singleRegistrant">
    <div class="panel panel-default">
<!--
        <div class="panel-heading">

        </div>
-->
        <div class="panel-body">
            <h2 class="registrant-panel-name">{{ first_name }} {{ last_name }}</h2>
            <p><strong>Age at time of event:</strong> {{ age }}</p>
            {{# if specialNeeds }}
            <p><strong>Special needs:</strong> {{ specialNeeds }}</p>
            {{/ if }}
            {{#if registrantEmail }}
            <p><strong>Registrant email:</strong></p>
            {{/ if }}
            <p><strong>Registration type:</strong> {{ registrationType }}</p>
            <p><strong>Accommodations:</strong> {{ accommodations }}</p>
            {{# if linens }}
            <p>Linens required.</p>
            {{/ if }}
            <p><strong>Registration fee:</strong> ${{ fee }}</p>
        </div>
    </div>
</template>
