<template name="singleRegistrant">
    <div class="panel panel-default registrant">
        <div class="panel-heading">
            <h3>{{ first_name }} {{ last_name }}</h3>
        </div>
        <div class="panel-body">
            <p><strong>Age at time of event:</strong> {{ age }}</p>
            {{# if specialNeeds }}
            <p><strong>Special needs:</strong> {{ specialNeeds }}</p>
            {{/ if }}
            {{#if registrantEmail }}
            <p><strong>Registrant email:</strong> {{ registrantEmail }}</p>
            {{/ if }}
            {{# if registrantMeeting }}
            <p><strong>Registrant meeting:</strong> {{ registrantMeeting }}</p>
            {{/ if }}
            <p><strong>Registration type:</strong> {{ registrationType }}</p>
            <p><strong>Accommodations:</strong> {{ accommodations }}</p>
            {{# if days }}
            <p><strong>Days:</strong> {{ days }}</p>
            {{/ if }}
            {{# if linens }}
            <p>Linens required.</p>
            {{/ if }}
            {{# if foodPreference }}
            <p><strong>Food preference:</strong> {{ foodPreference }}</p>
            {{/ if }}
            <p><strong>Registration fee:</strong> {{ formatMoney fee }}</p>
        </div>
    </div>
</template>
