<template name="dashboardRegistrant">
    <tr>
        <td>{{ createdByEmail }}</td>
        <td>{{ first_name }}  {{ last_name }}</td>
        <td>{{ age }}</td>
        <td>{{ registrationType }}</td>
        <td>{{ accommodations }}</td>
        <td>{{ days }}</td>
        <td>{{ foodPreference }}</td>
        <td>$ {{ fee }}</td>
        <td><a href="/edit/{{ _id }}"><i class="fa fa-pencil btn btn-primary"></i></a></td>
        <td><big><i class="fa fa-ban btn btn-warning cancelRegistration"></i></big></td>
        <td><big><i class="fa fa-trash btn btn-danger deleteRegistration"></i></big></td>
    </tr>
</template>
