body {
    padding-top: 2em; /* prevent navbar overlap */
}
.help-block {
    color: #333;
}
#content {
    margin-top: 3em;
}
@media (min-width: 33em) {
    #registration-form {
        width: 62%;
        margin: auto;
    }
}
