<template name="editRegistration">
    <div class="page-header"><h1>Edit registration</h1></div>
    {{#autoForm collection="Registrants" id="edit-registration-form" type="update" doc=registrant }}

    <!-- first name, last name, age goup, registration type -->
    {{> registrantDetails }}

    <!-- dynamic accommodations form, based on registration type -->
    {{> accommodations }}

    <!-- conditionally display days selection -->
    {{> days }}

    <!-- food preference -->
    {{> afFormGroup name="foodPreference" id="food_preference" }}

    <!-- donation  -->
    {{> afFormGroup name="donation" id="donation" }}

    <!-- carbon tax  -->
    {{> afFormGroup name="carbonTax" id="carbon-tax" }}

    <!-- TODO: hide button if no 'price' has been calculated. I.e. invalid registration. -->

    <button type="submit" class="btn btn-lg btn-primary">
        Save changes {{#if price }}<span class="badge">$ {{ price }}</span> {{/if}}
    </button>

    {{/autoForm}}
</template>
