<template name="home">
    <div class="template-home">
        <div class="page-header">
            <h1>Welcome to Registration for the PYM Annual Session!</h1>
        </div>
        <div class="content">
          <p>
            For further details about Annual Session, view the <a href="http://www.pacificyearlymeeting.org/annual-session-information/">Annual Session Information page</a>.
          </p>
          <p>In order to register for the event via this online portal, please follow these steps:</p>
          <ol>
            <li>
              Sign up for this site (using the "Sign in and Register" button above)
            </li>
            <li>
              Submit the registration form for one or more event participants (e.g. when registering a family)
            </li>
            <li>
              Mail in your payment and, optionally, a <a href="http://www.pacificyearlymeeting.org/financial_assistance/">financial assistance</a> form.
            </li>
          </ol>
        </div>
    </template>
