<template name="home">
  <div class="template-home">
    <div class="page-header">
        <h1>PYM Annual Session online registration</h1>
    </div>
    <div class="content">
      <h2>Event Information</h2>
      <p>
        For further details about Annual Session, view the <a href="http://www.pacificyearlymeeting.org/annual-session-information/">Annual Session Information page</a>.
      </p>
      <h2>Register online</h2>
      <p>Follow these steps:</p>
      <ol>
        <li>
          <a href="/sign-up">Sign up for this site</a>
        </li>
        <li>
          Submit the <a href="/wizard">online registration form</a> for one or more event participants
        </li>
        <li>
          Mail in your payment and,
        </li>
        <li>
          <em>(optional)</em> submit a <a href="http://www.pacificyearlymeeting.org/financial_assistance/">financial assistance</a> form
        </li>
      </ol>
    </div>
  </div>
</template>
