<template name="home">
    <div class="template-home">
        <div class="page-header">
            <h1>Welcome to Registration for the 2015 PYM Annual Session!</h1>
        </div>
        <p>
            We hope you will register before you leave this website! To help encourage you: The theme for this year’s session is FRUITS OF THE SPIRIT: LOVE AND JUSTICE. The themes of love and justice will be intertwined, brought to Light by keynote speaker Lloyd Lee Wilson and presenters Jose Aguto of FCNL and Paula Palmer of Intermountain Yearly Meeting. To be inspired further, read the <a href="http://www.pacificyearlymeeting.org/2015/2015-events/clerks-call/">Clerk’s call to 2015 Pacific Yearly Meeting</a>.
        </p>
        <h2>Venue</h2>
        <p>
            Walker Creek Ranch is a lovely and rustic nature camp – we expect to be visited by deer, foxes, and other wildlife! The primary areas (Plenary tent and dining hall) are centrally located and the site is relatively flat. There is <span style="font-weight:bold">no cell phone service</span>, but there is wireless Internet in some areas of the site, and there are pay phones available.
        </p>
        <p>
            No pets are allowed at Walker Creek Ranch. Trained service animals are allowed.
        </p>
        <h2>Accommodations</h2>
        <p>
            If you are staying on site, you will need to choose either camping or a housing option for each person you register. There are limited semi-private rooms (2 to 5 people per room), some with accessible baths in the same building, but <span style="font-weight:bold">none with private baths</span>. The other housing option is in larger dorm rooms, sharing with 6 to 12 people. Camping is unlimited with many campsites centrally located, and the weather is generally nice. There will be designated dorms for YAF and JYM, or teens may stay with their parent(s) or sponsor(s). Please indicate your choice when you register.
        </p>
        <h3>
            Linens
        </h3>
        <p>
            Towels, sheets, blanket, pillow are not included with any housing option, but may be requested for your stay, for a $25 fee.
        </p>
        <h3>Special needs</h3>
        <p>
            Please be sure to <span style="font-weight:bold">let us know</span> about any issues or special housing needs, such as
        </p>
        <ul>
            <li>Wheelchair or need accessible bathroom</li>
            <li>Mobility challenges: cannot walk distances or climb stairs</li>
            <li>Sleeping issues: CPAP machine, snorer, light sleeper</li>
            <li>Dietary needs not covered in the checkboxes</li>
        </ul>

        <h2>Meals</h2>
        <p>Vegetarian, vegan, omnivore, and several other options will be offered.</p>
        <p><strong>Commuter</strong> fee includes supper on Mon and lunch Tuesday through Saturday.</p>
        <p><strong>Overnight</strong> registrations include three meals, beginning with supper and ending with lunch the next day.</p>
        <p><strong>There is no lunch provided on Monday.</strong></p>
        <h3>Additional meal needs</h3>
        <p>Part-timers and commuters may purchase dinners separately – please let us know when you register if you would like to do that.</p>
        <h2>Financial concerns</h2>
        <p>On a budget? We still want you to come!</p>
        <p>Camping is the least expensive option for accommodations.</p>
        <h3>Early registration discount</h3>
        <p>Register by May 18<span style="vertical-align:super">th</span> to get the early discount!</p>
        <h3>Financial assistance</h3>
        <p>There is financial assistance available – see the contact information below.
            </p>
            <h2>Contacts</h2>
            <p>
                Berkeley registration team: Joe Magruder, (510) 528-9366,<a href="mailto:joemagruder@juno.com">joemagruder@juno.com</a>
            </p>
            <p>
                JYM: Steve Leeds,<a href="mailto:sleeds@riseup.net">sleeds@riseup.net</a>, or Sue Torrey,<a href="mailto:sjtorrey@charter.net">sjtorrey@charter.net</a>
            </p>
            <p>
                <a href="http://www.pacificyearlymeeting.org/youth/jym/">http://www.pacificyearlymeeting.org/youth/jym/</a>
            </p>
            <p>
                YAF: Kylin Navarro,<a href="mailto:kylin.navarro@gmail.com">kylin.navarro@gmail.com</a>
            </p>
            <p>
                <a href="http://www.pacificyearlymeeting.org/young-adult-friends/">http://www.pacificyearlymeeting.org/young-adult-friends/</a>
            </p>
            <p>
                Financial assistance: M&amp;O, Janet Gastil,<a href="mailto:jgastil@sbcglobal.net">jgastil@sbcglobal.net</a>, (760) 445-1829
            </p>
            <p>
                General questions about PYM: Amy Cooke, amylisette@gmail.com
            </p>
            <p>
            </p>
        </div>
    </template>
