<template name="registrantDetails">
    <fieldset>
        <legend>Registrant Details</legend>

        <!-- Basic personal information -->
        <!-- first name -->
        {{> afFormGroup name="first_name" id="first-name" }}

        <!-- last name -->
        {{> afFormGroup name="last_name" id="last-name" }}

        <!-- special needs -->
        {{> afFormGroup name="specialNeeds" id="special-needs"}}
        <p class="help-block">
            Tell us anything special we need to know: mobility issues, loud snorer, travel needs, desire to be near YAF community space, etc.
        </p>

        <!-- registrant email -->
        {{> afFormGroup name="registrantEmail" id="registrant-email" }}

        <!-- primary telephone -->
        {{> afFormGroup name="telephone" id="telephone" }}

        <!-- postal address -->
        {{> afFormGroup name="postalAddress" id="postal-address" }}
        <p class="help-block">You only need to enter your family's address for the first person registering.</p>

        <!-- Age -->
        {{> afFormGroup name="age" id="age"}}

        <!-- grade in school -->
        {{# if registrantAgeIsBelow 18 }}
        <div class="alert alert-warning">
            <p>Note, you will need to provide a
                    <strong>parental consent and medical form</strong>
                 for this registrant.
            </p>
        </div>
        {{/ if }}

        <!-- 13 year old registrants can choose children's or teen program -->
        {{# if registrantAgeIs 13 }}
        <!-- Children's program -->
        {{> afFormGroup name="childrenProgram" id="children-program" type="select-radio-inline" options=yesNoOptions }}
        <p class="help-block">Will this registrant participate in Children's program?</p>

        <!-- JYM program -->
        {{> afFormGroup name="jymProgram" id="jym-program" type="select-radio-inline" options=yesNoOptions }}
        <p class="help-block">Will this registrant participate in the Junior Yearly Meeting program?</p>
        {{/ if }}

        {{# if registrantAgeIsBelow 21 }}
        {{> afFormGroup name="gradeInSchool" id="grade-in-school"}}
        {{/ if }}

        <!-- meeting -->
        {{> afFormGroup name="registrantAffiliation" id="registrant-affiliation" }}
        <p class="help-block">
            Enter a meeting, worship group, or other Quaker organization with which you are affiliated.
            This will appear on your name badge.
        </p>

        <!-- Registration type -->
        {{> afFormGroup name="registrationType" id="registration_type" options=registrationTypeOptions}}

        <!-- first time attender -->
        {{> afFormGroup name="firstTimeAttender" id="first-time-attender"}}
    </fieldset>
</template>
