<template name="accommodationsOptions">
    {{# if afFieldValueIs name="ageGroup" value="adult"}}
    {{> afFormGroup name="accommodations" id="accommodations" options=adultAccommodationsOptions }}
    {{/ if }}

    {{# if afFieldValueIs name="ageGroup" value="youngAdult"}}
    {{> afFormGroup name="accommodations" id="accommodations" options=youngAdultAccommodationsOptions }}
    {{/ if }}

    {{# if afFieldValueIs name="ageGroup" value="teen"}}
    {{> afFormGroup name="accommodations" id="accommodations" options=teenAccommodationsOptions }}
    {{/ if }}

    {{# if afFieldValueIs name="ageGroup" value="youth"}}
    {{> afFormGroup name="accommodations" id="accommodations" options=youthAccommodationsOptions }}
    {{/ if }}

    {{# if afFieldValueIs name="ageGroup" value="child"}}
    {{> afFormGroup name="accommodations" id="accommodations" options=childAccommodationsOptions }}
    {{/ if }}
</template>
