<template name="accommodations">
    <fieldset>
        <!-- Conditional registration options -->

        <!-- Commuter -->
        <!--
        {{# if afFieldValueIs name="registrationType" value="commuter" }}
        {{> days }}
        {{/ if }}
        -->

        <!-- Daily accommodations -->
        <!-- If daily, get the arrival and departure dates -->
        {{# if afFieldValueIs name="registrationType" value="daily"}}
        <!--{{> days }}-->
        {{> afFormGroup name="accommodations" id="accommodations" options=accommodationsOptions }}
        {{/ if }}



        <!-- Weekly accommodations -->


        {{# if afFieldValueIs name="registrationType" value="weekly" }}
        {{> afFormGroup name="accommodations" id="accommodations" options=accommodationsOptions }}
        {{/ if }}


        <!-- Linens -->
    </fieldset>
</template>
