<template name="finishedRegistering">
    <div class="panel panel-primary">
        <h2 class="panel-heading">Finished registering?</h2>
        <div class="panel-body">
            <p>
                If you are through entering the registrations for yourself and your family, please send a check for at least 25%(100% if you are claiming the early registration discount) of the total for all persons, minus expected assistance to the following address.</p>
            <address class="text-info">
                Berkeley Registration Team, 2151 Vine St., Berkeley, CA 94709
            </address>
        </div>
    </div>
</template>
