<template name="registrantDetails">
    <fieldset>
        <legend>Registrant Details</legend>

        <!-- Basic personal information -->
        <!-- first name -->
        <div class="control-group">
            <label class="control-label" for="first_name">First Name</label>
            <div class="controls">
                {{> afFieldInput name='first_name' class='form-control'}}
                {{#if afFieldIsInvalid name='first_name'}}
                <span class="help-block">{{afFieldMessage name='first_name'}}</span>
                {{/if}}
            </div>
        </div>
        <!-- last name -->
        <div class="control-group">
            <label class="control-label" for="last_name">Last Name</label>
            <div class="controls">
                {{> afFieldInput name='last_name' class='form-control'}}
                {{#if afFieldIsInvalid name='last_name'}}
                <span class="help-block">{{afFieldMessage name='last_name'}}</span>
                {{/if}}
            </div>
        </div>

        <!-- Age Group -->
        {{> afFormGroup name="ageGroup" id="age_group" options=ageGroupOptions}}

        <!-- Registration type -->
        {{> afFormGroup name="registrationType" id="registration_type" options=registrationTypeOptions}}
    </fieldset>
</template>
