<template name="register">
    <h1>Online Registration Form</h1>
    {{#autoForm collection="Registrants" id="registration-form" type="insert"}}

    <!-- first name, last name, age goup, registration type -->
    {{> registrantDetails }}

    <!-- dynamic accommodations form, based on registration type -->
    {{> accommodations }}
    <!--
    {{> diet }}
    {{>needs }}
-->

    <!-- TODO: hide button if no 'price' has been calculated. I.e. invalid registration. -->
    <button type="submit" class="btn btn-lg btn-primary">
        Register {{#if price }}<span class="badge">$ {{ price }}</span> {{/if}}
    </button>
    {{/autoForm}}
</template>
