<template name="register">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Online Registration Form</h1>
            </div>
            <div class="panel-body">
                {{#autoForm collection="Registrants" id="registration-form" type="insert"}}

                <!-- first name, last name, age goup, registration type -->
                {{> registrantDetails }}

                <!-- dynamic accommodations form, based on registration type -->
                {{> accommodations }}

                <!-- conditionally display days selection -->
                {{> days }}

                <!-- food preference -->
                {{> afFormGroup name="foodPreference" id="food_preference" }}
                <span class="help-block">Food at the event is Vegetarian. Select any additional dietary needs.</span>
                <!--
{{> diet }}
{{>needs }}
-->

                <!-- TODO: hide button if no 'price' has been calculated. I.e. invalid registration. -->
                <button type="submit" class="btn btn-lg btn-primary">
                    Register {{#if price }}<span class="badge">$ {{ price }}</span> {{/if}}
                </button>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
