<template name="dashboardCounts">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      {{> dashboardChartsAgeGroup }}
    </div>

    <div class="col-xs-12 col-md-6">
      {{> dashboardChartsAccommodations }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <i class="fa fa-group"></i>&nbsp;
          Children's program <span class="badge pull-right">{{ childrenProgramCount }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <i class="fa fa-group"></i>&nbsp;
          JYM <span class="badge pull-right">{{ jymCount }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <i class="fa fa-group"></i>&nbsp;
          YAF <span class="badge pull-right">{{ yafCount }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <i class="fa fa-bed"></i>&nbsp;
          Linens <span class="badge pull-right">{{ linensCount }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
