<template name="dashboardCounts">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <div class="row">
          <div class="list-group col-md-6">
            {{> dashboardChartsAgeGroup }}
          </div>
          <div class="list-group col-md-6">
            {{> dashboardChartsAccommodations }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-group col-md-4">
                <li class="list-group-item">Linens <span class="badge">{{ linensCount }}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
