<template name="dashboardRegistrantTable">
  <div class="box">
    <div class="box-header">
      <button class="btn btn-md btn-primary pull-right"  id="download-csv">
          <i class="fa fa-cloud-download"></i>&nbsp;
          Download as CSV
      </button>
      <h3 class="box-title">Registrants</h3>
    </div>
    <div class="box-body no-padding">
      <table
        id="registrants-table"
        class="table table-hover table-bordered table-striped table-condensed">
        <thead>
          <th>Created By</th>
          <th>Full Name</th>
          <th>Age</th>
          <th>Registration Type</th>
          <th>Accommodations</th>
          <th>Days</th>
          <th>Food Choice(s)</th>
          <th>Fee</th>
          <th>Edit</th>
          <th>Cancel</th>
          <th>Delete</th>
        </thead>
        <tbody>
          {{# each registrants }}
          {{> dashboardRegistrant }}
          {{/ each }}
        </tbody>
      </table>
    </div>
  </div>
</template>
