<template name="dashboardRegistrantTable">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Registrants</h3>
    </div>
    <div class="box-body no-padding">
      <table
        id="registrants-table"
        class="table table-hover table-bordered table-striped table-condensed">
        <thead>
          <th>Created By</th>
          <th>Full Name</th>
          <th>Age</th>
          <th>Registration Type</th>
          <th>Accommodations</th>
          <th>Days</th>
          <th>Food Choice(s)</th>
          <th>Fee</th>
          <th>Edit</th>
          <th>Cancel</th>
          <th>Delete</th>
        </thead>
        <tbody>
          {{# each registrants }}
          {{> dashboardRegistrant }}
          {{/ each }}
        </tbody>
      </table>
    </div>
  </div>
</template>
