<template name="dashboard">
    <div class="row">
        <div class="col-md-3 panel panel-default">
            <div class="panel-header">
                <h2>Age Group</h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Children <span class="badge">{{ childRegistrantCount }}</span></li>
                    <li class="list-group-item">Youth <span class="badge">{{ youthRegistrantCount }}</span></li>
                    <li class="list-group-item">Teens <span class="badge">{{ teenRegistrantCount }}</span></li>
                    <li class="list-group-item">Young Adults <span class="badge">{{ youngAdultRegistrantCount }}</span></li>
                    <li class="list-group-item">Adults <span class="badge">{{ adultRegistrantCount }}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <th>Full Name</th>
                <th>Age Group</th>
                <th>Registration Type</th>
                <th>Accommodations</th>
                <th>Days</th>
                <th>Fee</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {{# each registrants }}
                {{> dashboardRegistrant }}
                {{/ each }}
            </tbody>
        </table>
    </div>
</template>

<template name="dashboardRegistrant">
    <tr>
        <td>{{ first_name }}  {{ last_name }}</td>
        <td>{{ ageGroup }}</td>
        <td>{{ registrationType }}</td>
        <td>{{ accommodations }}</td>
        <td>{{ days }}</td>
        <td>$ {{ fee }}</td>
        <td><big><i class="fa fa-trash btn btn-danger deleteRegistration"></i></big></td>
    </tr>
</template>
